.catcontent {
    margin-top: 200px;
    width: 100%;
    margin-bottom: 80px;
}

.side ul li{
    color: #676D3E;
    font-weight: bold;
    list-style: none;
    line-height: 36px;
}

.catcontent a {
    color: #676D3E;
    text-decoration: none;
}

.catcontent a:hover {
    color:rgb(135, 145, 76);
}

.right-content p {
    text-align: center;
}

.right-content p:first-child {
    margin-top: 10px;
}

.side>ul>li:hover {
    position: relative;
    right: 3px;
}

.main {
    text-align: center;
}

.main>a>p {
    padding-top: 10px;
    margin-bottom: 0;
}

.main>p {
    margin-bottom: 40px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.product-item{
    width: 220px;
    height: 350px;
}

.categoryname {
    font-weight: bold;
}

.categorylist {
    list-style: none;
}

