body {
    font-family: 'Jaldi',Microsoft JhengHei;
    color: #676D3E;
    font-size: 18px;
    background-color: rgb(255, 254, 250);
}

.header {
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
    box-shadow: .5px .5px 1px .5px #161616;
}

.title {
    padding-top: 15px;
    text-align: center;
}

.content {
    width: 50%;
    padding: 0;
}

.cartcontant{
   padding-top: 180px;  
}

.content {
    max-width: 100%;
    padding: 0;
}

.secondimage {
    text-align: center;
    padding: 80px 0 80px 0;
    background: rgb(255, 254, 250);
}

.thirdimage {
    width: 50%;
    padding: 0 0 120px 0;
}

.header a {
    color: #697259;
    outline: none !important;
}

.header a:hover {
    color: rgb(135, 145, 76);
    text-decoration: none;
    position: relative;
    top: 1px;
}

.footer-nav-link {
    color: rgb(255, 254, 246);
}

footer {
    background-color: #697259;
    height: 300px;
    color: rgb(221, 221, 221);
}

footer a {
    color: rgb(221, 221, 221);
}

footer a:hover {
    color:#FFF;
    text-decoration: none;
}

.main-menu {
    margin-bottom: 3px;
}

.aboutus {
    margin: 40px 0 40px 0;
}

.aboutus>ul {
    padding-left: 0;
}

.aboutus>ul>li {
    list-style: none;
}

.topside {
    padding: 15px 30px 0 0;
}

.gototop {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 999;
    opacity: 0.4;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.gototop a {
    color: #FFF;
}

.gototop a:hover {
    color: #bebebe; 
}

.modaltitle {
    color: #697259;
}

.modal-content>.col {
    font-family: Microsoft JhengHei;
    position: relative;
    top: 200px;
}

/*button.css*/
.btn {
    background-color:#697259;
    color:white;
}

.btn:hover {
    color:rgb(255, 254, 250);
}
/*button.css*/

.signword {
    color: grey;
    font-size: 15px;
    margin-top: 200px;
}

.password {
    margin-top: 10px;
}

.step1 {
    color: white;
    background-color: #697259;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    align-items: baseline;
    text-align: center;
    line-height: 25px;
    float: right;
}

.step2 {
    color: white;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    align-items: baseline;
    background-color: #d6d6d6;
    color: black;
    text-align: center;
    line-height: 25px;
}

.step1:before {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-left: 22px solid #697259;
    border-bottom: 22px solid transparent;
    position: absolute;
    top: 0;
    right: -22px;
    content: '';
}

.navbox {
    border-bottom: 1px solid gray;
    padding: 10px 0px;
    text-align: center;
}

.navbox_contant {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 25px 0px;
}

.text {
    text-align: left;
    padding-top: 30px;
}

.center {
    top: 0;
    bottom: 0;
    margin: auto;
    color:#697259;
}

.a {
    color:#697259;
}

.a:hover {
    text-decoration:none;
    color: rgb(135, 145, 76);
}

.col > a > i {
    color: #697259;
}

.col > a > i:hover {
    color:rgb(135, 145, 76);
}

.center > span {
    float: left; 
    padding: 10px 10px;
}

select {
    border-radius: 5px;
    border:1px solid lightgray;
    color:gray;
    outline: none !important;
    padding-left:10px;
}

.step3 {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    background-color:#697259;
    padding: 10px 0px;
    width: 150px;
    border-radius: 6px;
    overflow: hidden;
  }
.effect {
    transition: all 0.2s linear 0s;
  }
  .effect:before {
    content: "BACK";
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:25px;
    transition: all 0.2s linear 0s;
  }
  .effect:hover {
    text-indent: -9999px;
    text-decoration: none;
  }
  .effect:hover:before {
    top: 0;
    text-indent: 0;
  }

.nexteffect:before {
    content: "NEXT";
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:25px;
    transition: all 0.2s linear 0s;
  }

.homeeffect:before {
    content: "HOME";
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:25px;
    transition: all 0.2s linear 0s;
  }

  .orderseffect:before {
    content: "ORDERS";
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:25px;
    transition: all 0.2s linear 0s;
  }

.col>i:hover {
    color: rgb(135, 145, 76);
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0px;
}

.right-content>.row>.col-3 {
    margin-bottom: 50px;
}

.price::before {
    content: "NT.";
}

.nav-item>a {
    padding-top: 10px;
}

.price::before {
    content: "NT$ ";
}

.nav-item>a {
    padding-top: 10px;
}

.content {
    margin: auto;
    margin-top: 10px;
}

.content>p {
    margin-top: 150px;
}

.content>p>a {
    margin-left: 430px;
}

.bmr{
    margin-right: 150px;
}


/*customer.css*/
.customer a {
    color:#697269;
}

.customer a:hover {
    color:rgb(135, 145, 76);
    text-decoration: none;
}

.customer .row .col span a {
   float: right;
}

.tab-content .row {
    margin-top: 5%;
}

.tab-content .row .col-6 {
    margin-bottom: 3%;
}

.orderpage {
    border-bottom: 1px solid black;
}
/*customer.css*/