body {
    font-family: 'Jaldi';
    color: #676D3E;
    font-size: 20px;
    background-color: rgb(255, 254, 250);
}

.header {
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
    box-shadow: .5px .5px 1px .5px #161616;
}

.title {
    padding-top: 15px;
}

.content {
    margin-top: 120px;
    width: 50%;
    padding: 0;
}

.mainimage {
    max-width: 100%;
    padding: 0;
}

.secondimage {
    text-align: center;
    padding: 80px 0 80px 0;
    background: rgb(255, 254, 250);
}

.thirdimage {
    width: 50%;
    padding: 0 0 120px 0;
}

a {
    color: #697259;
    outline: none !important;
}

a:hover {
    color: rgb(135, 145, 76);
    text-decoration: none;
}

.footer-nav-link {
    color: rgb(255, 254, 246);
}

.categoryname {
    font-weight: bold;
}

.categorylist {
    list-style: none;
}

.side>ul {
    padding-left: 15px;
    padding-bottom: 10px;
}

.productlist {
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #697259;
    height: 300px;
    color: rgb(255, 254, 246);
}

.main-menu {
    margin-bottom: 20px;
}

.aboutus {
    margin: 40px 0 40px 0;
}

.aboutus>ul {
    padding-left: 0;
}

.aboutus>ul>li {
    list-style: none;
}

.aboutus a {
    color: rgb(255, 254, 246);
}

.topside {
    padding: 15px 30px 0 0;
}

.gototop {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 999;
    opacity: 0.4;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.gototop a {
    color: #FFF;
}

.modaltitle {
    color: #697259;
}

.modal-content>.col {
    font-family: Microsoft JhengHei;
    position: relative;
    top: 200px;
}

.signword {
    color: grey;
    font-size: 15px;
    margin-top: 200px;
}

.botton {
    color: snow;
    background-color: #697259;
    padding:8px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    width: 110px;
    outline: none !important;
    border:none;
}

.password {
    margin-top: 10px;
}

.botton:hover {
    color: lightgoldenrodyellow;
}

.step1 {
    color: white;
    background-color: #697259;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    text-align: center;
    float: right;
}

.step2 {
    color: white;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    background-color: #d6d6d6;
    color: black;
    text-align: center;
}

.step1:before {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-left: 22px solid #697259;
    border-bottom: 22px solid transparent;
    position: absolute;
    top: 0;
    right: -22px;
    content: '';
}

.navbox {
    border-bottom: 1px solid gray;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: center;
}

.navbox_contant {
    border-bottom: 1px solid gray;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 25px 0px;
}

.text {
    text-align: left;
    padding-top: 30px;
}

.center {
    top: 0;
    bottom: 0;
    margin: auto;
}
<<<<<<< HEAD
        
.col > i:hover{
    color:rgb(135, 145, 76);
}

.center > span{
    float: left; 
    padding: 10px 10px;
}

.step3 {
    color: white;
    background-color: #697259;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    text-align: center;
    float: right;
}

.step3:before {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-right: 22px solid #697259;
    border-bottom: 22px solid transparent;
    position: absolute;
    top: 0;
    left: -22px;
    content: '';
}

.step3:hover{
    color:white;
    background-color:#697259c9;
}

.step3:hover:before{
    background-color:#697259c9;
}

.step4 {
    color: white;
    background-color: #697259;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    text-align: center;
    float: right;
}

.step4:before {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-left: 22px solid #697259;
    border-bottom: 22px solid transparent;
    position: absolute;
    top: 0;
    right: -22px;
    content: '';
}

.step4:hover{
    color:white;
    background-color:#697259c9;
}

.step4:hover:before{
    background-color:#697259c9;
}

.col>i:hover {
    color: rgb(135, 145, 76);
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0px;
}

.right-content>.row>.col-3 {
    margin-bottom: 50px;
}

.price::before {
    content: "NT.";
}

.nav-item>a {
    padding-top: 10px;
}

=======

.col>i:hover {
    color: rgb(135, 145, 76);
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0px;
}

.right-content>.row>.col-3 {
    margin-bottom: 50px;
}

.price::before {
    content: "NT.";
}

.nav-item>a {
    padding-top: 10px;
}

>>>>>>> 504ca5fc25724d3059eb977c4cb2a95c2cbef2eb
