/*index.css*/
body {
    font-family: 'Jaldi',Microsoft JhengHei;
    color: #676D3E;
    font-size: 15px;
    background-color: rgb(255, 254, 250);
}

.header {
    background-color: white;
    box-shadow: .5px .5px 1px .5px #161616;
}

.title {
    padding-top: 15px;
    text-align: center;
}

.content {
    width: 50%;
    padding: 0;
}

img {
    max-width: 100%;
}

.secondimage {
    padding: 80px 30px;
    background: rgb(255, 254, 250);
}

.thirdimage {
    width: 50%;
    padding: 0 0 120px 0;
}

.header a {
    color: #697259;
    outline: none !important;
}

.header a:hover {
    color: rgb(135, 145, 76);
    text-decoration: none;
    position: relative;
    top: 1px;
}

footer {
    background-color: #697259;
    height: 300px;
    color: rgb(221, 221, 221);
}

footer a {
    color: rgb(221, 221, 221);
}

footer a:hover {
    color:#FFF;
    text-decoration: none;
}

.footer-nav-link {
    color: rgb(255, 254, 246);
}

.main-menu {
    margin-bottom: 3px;
}

.aboutus {
    margin: 40px 0 40px 0;
}

.aboutus>ul {
    padding-left: 0;
}

.aboutus>ul>li {
    list-style: none;
}

.topside {
    padding: 15px 30px 0 0;
}

.gototop {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 999;
    opacity: 0.4;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.gototop a {
    color: #FFF;
}

.gototop a:hover {
    color: #bebebe; 
}
/*index.css*/



/*button.css*/
.btn {
    background-color:#697259;
    color:white;
    width:100px;
}

.btn:hover {
    color:rgb(255, 254, 250);
    background-color: #7d8570;
}
/*button.css*/


/*customer.css*/
.customer a {
    color:#697269;
}

.customer a:hover {
    color:rgb(135, 145, 76);
    text-decoration: none;
}

.customer .row .col span a {
   float: right;
}

.tab-content .row {
    margin-top: 5%;
}

.tab-content .row .col-6 {
    margin-bottom: 3%;
}

.tab-content a {
    color:#FFF;
}

.tab-content a:hover {
    color:rgb(255, 254, 250);
}

.orderpage {
    border-bottom: 1px solid black;
}
/*customer.css*/



/*orderdetail.css --- shoppingcart.css*/
.navbox {
    border-bottom: 1px solid #DEE2E6;
    line-height: 40px;
    text-align: center;
}

.navbox_content {
    border-bottom: 1px solid #DEE2E6;
    line-height: 80px;
    text-align: center;
}

#inputState {
    width:50%;
}

.navbox img {
    margin-bottom: 10%;
}
/*orderdetail.css --- shoppingcart.css*/



/*modal.css*/
.modal {
    color: #697259;
}

label {
    margin-top: 10px;
}
/*modal.css*/


/*shoppingcart.css*/
.step1 {
    color: white;
    background-color: #697259;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    align-items: baseline;
    text-align: center;
    line-height: 25px;
    float: right;
}

.step2 {
    color: white;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
    align-items: baseline;
    background-color: #d6d6d6;
    color: black;
    text-align: center;
    line-height: 25px;
}

.step1:before {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-left: 22px solid #697259;
    border-bottom: 22px solid transparent;
    position: absolute;
    top: 0;
    right: -22px;
    content: '';
}

.col > a > i {
    color: #697259;
}

.col > a > i:hover {
    color:rgb(135, 145, 76);
}

select {
    border-radius: 5px;
    border:1px solid lightgray;
    color:gray;
    outline: none !important;
    padding-left:10px;
}
/*shoppingcart.css*/


