body {
    background: #eee;
}

.sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    background: #333;
    color: #fff;
    outline: 1px solid #2a2a2a;
}

.sidebar h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    outline: 1px solid #2a2a2a;
    transition: all 0.3s;
}

.sidebar li:hover {
    background: #444;
    border-left: 5px solid #eee;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.abrir {
    margin-left: 250px;
}

.content {
    max-width: 100%;
    padding: 0;
}

.button {
    width: 40%;
    color: snow;
    background-color: #444;
    border-radius: 10px;
    outline: none !important;
    border: none;
    margin-left: 150px;
}

.button:hover {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

.bmr {
    margin-right: 150px;
}

.sidebar1 {
    width: 80%;
    height: 100%;
    background: #8D909B;
    color: #eee;
    outline: 1px solid #2a2a2a;
}

.sidebar1 h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar1 li {
    outline: 1px solid #2a2a2a;
    transition: all 0.3s;
    border-bottom: 5px solid #eee;
}

.sidebar1 li:hover {
    /*  background: #222;
 /*   border-left: 5px solid #eee; */
}

.sidebar1 a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-bottom: 5px solid #eee;
}